<div class="empty-cart">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/008/515/488/small/empty-cart-flat-illustration-concept-vector.jpg" alt="Empty Cart">
        <h1>Your cart is empty!</h1>
        <p>Looks like you haven't chosen any plants yet. <br> Go green and fill your cart with some leafy friends!</p>
        
    </div>