<div class="jumbotron text-center">
  <h1>Welcome to the Jungle!</h1>
  <p>Where you can find any plant, and maybe even a little bit of rock 'n' roll!</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Our Team</h3>
      <p>Our team is as diverse as the flora you'll find in a tropical rainforest...</p>
      <p>And we're all here to help you find the perfect plant for your space...</p>
    </div>
    <div class="col-sm-4">
      <h3>Our History</h3>
      <p>Just like a mighty jungle, we've grown from a single seed...</p>
      <p>And we're not slowing down anytime soon...</p>
    </div>
    <div class="col-sm-4">
      <h3>Our Mission</h3>        
      <p>Our mission is to bring a little bit of the jungle into every home...</p>
      <p>And to make the world a greener place, one plant at a time...</p>
    </div>
  </div>
</div>
